
@font-face {
  font-family: "arabMedium";
  src: url("./GESSTwoMedium-Medium.otf");
}
@font-face {
  font-family: "Granjon LT Roman";
  src: url("./Granjon LT Roman.ttf");
}
@font-face {
  font-family: "enLight";
  src: url("./SackersGothicStd-Light.otf");
}
@font-face {
  font-family: "enMedium";
  src: url("./SackersGothicStd-Medium.otf");
}
@font-face {
  font-family: "enHeavy";
  src: url("./SackersGothicStd-Heavy.otf");
}
